{% extends 'starter-page.html' %}
{% load static %}
{% block body %}
    <table class="table">
    <tr>

  <th>Name</th>
  <th>Email</th>
  <th>Phone</th>
  <th>Date</th>
  <th>Department</th>
  <th>Doctor</th>
  <th>Message</th>
  <th>Action</th>
{% for y in Appointment %}
    <tr>
        <td>{{ y.name }}</td>
        <td>{{ y.email }}</td>
        <td>{{ y.phone }}</td>
        <td>{{ y.date }}</td>
        <td>{{ y.department}}</td>
        <td>{{ y.doctor }}</td>
        <td>{{ y.message}}</td>
        <td>
            <a href=""class="btn btn-warning">EDIT</a>
            <a href="/delete/{{ y.id }}"class="btn btn-danger">DELETE</a>
        </td>

    </tr>
{% endfor %}

    </table>

{% endblock %}